.footer {
	background: linear-gradient(118deg, #FFEB3B, blue);
	color: #fff;

	&__container {
		position: relative;
		padding: 25px 20px;

		p {
			margin-bottom: 4px;
			font-size: 16px;

			a {
				color: #fff;
				text-decoration: none;
				transition: 0.5s;

				&:hover {
					font-size: 17px;
					font-weight: 600;
					color: #181818;;
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	h4 {
		color: #181818;
		font-weight: 600;
	}

	&__address {
		margin-top: 30px;
	}

	&__contacts {
		margin-bottom: 30px;
		text-align: right;
	}
}

@media(min-width: 768px) {
	.footer {
		&__container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 25px 0;

			p {
				font-size: 18px;

				a {
					&:hover {
						font-weight: 600;
						font-size: 19px;
					}
				}
			}
		}

		&__contacts {
			order: 1;
			margin-bottom: 0;
		}

		&__address {
			margin: 0;
		}
	}
}

@media(min-width: 1200px) {
	.footer {
		h4 {
			font-size: 28px;
		}

		&__container {
			padding: 25px 0;

			p {
				margin-bottom: 6px;
				font-size: 18px;
			}
		}

		&__contacts,
		&__address {
			margin-bottom: 0;
		}

		&__contacts {
			p {
				margin-bottom: 5px;

				a {
					&:hover {
						font-weight: 600;
					}
				}

				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
}